sqlalchemy>=2.0.36
python-dotenv>=1.0.1
flask-sqlalchemy>=3.1.0
flask>=3.0.0
psycopg2-binary>=2.9.10
openai>=1.57.0
huggingface-hub>=0.26.0
numpy>=1.26.0
pypdf>=4.0.0
docx2txt>=0.8
langsmith
boto3
pydantic>=2.0.0
pyjwt>=2.8.0
mangum>=0.17.0
asgiref>=3.8.0



